html {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://cdn.glitch.global/be6b903e-7638-4f2f-900b-448d43f42ebc/sonshine_conversations.png");
  background-size: cover;
  height: 100%;
  background-color: #fff;
}
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
body {
  color: #c0c0c0;
  font-family: Arial, san-serif;
  font-size: 13px;
}

/* Contact Form Styles */
h1 {
  margin: 10px 0 0 0;
}
h4 {
  margin: 0 0 20px 0;
}
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px;
}

#contact-form {
  background-color: rgba(72, 72, 72, 0.9);
  padding: 10px 20px 30px 20px;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
}

.container {
  width: 33%;
  float: left;
  text-align: center;
}

#contact-form input,
#contact-form select,
#contact-form textarea,
#contact-form label {
  font-size: 15px;
  margin-bottom: 2px;
  font-family: Arial, san-serif;
}
#contact-form input,
#contact-form select,
#contact-form textarea {
  width: 100%;
  background: #fff;
  border: 0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 25px;
  padding: 5px;
}
#contact-form input:focus,
#contact-form select:focus,
#contact-form textarea:focus {
  background-color: #e5e6e7;
}
#contact-form textarea {
  width: 100%;
  height: 150px;
}
#contact-form button[type="button"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #036b62;
  background-image: linear-gradient(bottom, #066159 0%, #036b62 52%);
  background-image: -moz-linear-gradient(bottom, #066159 0%, #036b62 52%);
  background-image: -webkit-linear-gradient(bottom, #066159 0%, #036b62 52%);
  color: #fff;
  margin: 0 0 5px;
  padding: 10px;
  border-radius: 5px;
}

#contact-form-right {
  background-color: rgba(72, 72, 72, 0.9);
  padding: 10px 20px 30px 20px;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
}

#contact-form-center {
  background-color: rgba(72, 72, 72, 0.9);
  padding: 10px 20px 30px 20px;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
}

#contact-form-right input,
#contact-form-right select,
#contact-form-right textarea,
#contact-form-right label {
  font-size: 15px;
  margin-bottom: 2px;
  font-family: Arial, san-serif;
}
#contact-form-right input,
#contact-form-right select,
#contact-form-right textarea {
  width: 100%;
  background: #fff;
  border: 0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 25px;
  padding: 5px;
}
#contact-form-right input:focus,
#contact-form-right select:focus,
#contact-form-right textarea:focus {
  background-color: #e5e6e7;
}
#contact-form-right textarea {
  width: 100%;
  height: 500px;
}
#contact-form-right button[type="button"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #036b62;
  background-image: linear-gradient(bottom, #066159 0%, #036b62 52%);
  background-image: -moz-linear-gradient(bottom, #066159 0%, #036b62 52%);
  background-image: -webkit-linear-gradient(bottom, #066159 0%, #036b62 52%);
  color: #fff;
  margin: 0 0 5px;
  padding: 10px;
  border-radius: 5px;
}

#contact-form-right .required {
  font-weight: bold;
  color: #e5e6e7;
}

#contact-form button[type="button"]:hover {
  background-image: linear-gradient(bottom, #02453f 0%, #035750 52%);
  background-image: -moz-linear-gradient(bottom, #02453f 0%, #035750 52%);
  background-image: -webkit-linear-gradient(bottom, #02453f 0%, #035750 52%);
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact-form-right button[type="button"]:hover {
  background-image: linear-gradient(bottom, #02453f 0%, #035750 52%);
  background-image: -moz-linear-gradient(bottom, #02453f 0%, #035750 52%);
  background-image: -webkit-linear-gradient(bottom, #02453f 0%, #035750 52%);
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact-form-center input,
#contact-form-center select,
#contact-form-center textarea,
#contact-form-center label {
  font-size: 15px;
  margin-bottom: 2px;
  font-family: Arial, san-serif;
}
#contact-form-center input,
#contact-form-center select,
#contact-form-center textarea {
  width: 100%;
  background: #fff;
  border: 0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 25px;
  padding: 5px;
}
#contact-form-center input:focus,
#contact-form-center select:focus,
#contact-form-center textarea:focus {
  background-color: #e5e6e7;
}
#contact-form-center textarea {
  width: 100%;
  height: 500px;
}
#contact-form-center button[type="button"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #036b62;
  background-image: linear-gradient(bottom, #066159 0%, #036b62 52%);
  background-image: -moz-linear-gradient(bottom, #066159 0%, #036b62 52%);
  background-image: -webkit-linear-gradient(bottom, #066159 0%, #036b62 52%);
  color: #fff;
  margin: 0 0 5px;
  padding: 10px;
  border-radius: 5px;
}

#contact-form-center .required {
  font-weight: bold;
  color: #e5e6e7;
}

#contact-form-center button[type="button"]:hover {
  background-image: linear-gradient(bottom, #02453f 0%, #035750 52%);
  background-image: -moz-linear-gradient(bottom, #02453f 0%, #035750 52%);
  background-image: -webkit-linear-gradient(bottom, #02453f 0%, #035750 52%);
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact-form button[type="button"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}
input:required,
textarea:required {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
}
#contact-form .required {
  font-weight: bold;
  color: #e5e6e7;
}

/* Hide success/failure message
    (especially since the php is missing) */
#failure,
#success {
  color: #6ea070;
  display: none;
}

.linkblock a {
  font-size: 13px;
  margin-bottom: 2px;
  margin-top: 2px;
  font-family: Arial, san-serif;
  text-wrap: wrap;
      white-space: pre-wrap; /* CSS3 */    
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */    
    white-space: -o-pre-wrap; /* Opera 7 */    
    word-wrap: break-word; /* Internet Explorer 5.5+ */

}

#linkblock a:link {
  color: #29d9ca;
}
#linkblock a:visited {
  color: #21b8ab;
}
#linkblock a:hover {
  color: #21b8ab;
}
#linkblock a:active {
  color: #21b8ab;
}

.linkblockhead p {
  font-size: 10px !important;
}
.linkblockhead ul li {
  font-size: 10px !important;
}

.linkblockhead a {
  font-size: 10px !important;
  margin-bottom: 2px;
  margin-top: 2px;
  font-family: Arial, san-serif;
  text-wrap: wrap;
      white-space: pre-wrap; /* CSS3 */    
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */    
    white-space: -o-pre-wrap; /* Opera 7 */    
    word-wrap: break-word; /* Internet Explorer 5.5+ */

}

#linkblockhead a:link {
  color: #29d9ca;
}
#linkblockhead a:visited {
  color: #21b8ab;
}
#linkblockhead a:hover {
  color: #21b8ab;
}
#linkblockhead a:active {
  color: #21b8ab;
}

/* Make form look nice on smaller screens */
@media only screen and (max-width: 580px) {
  #contact-form {
    left: 3%;
    margin-right: 3%;
    width: 88%;
    margin-left: 0;
    padding-left: 3%;
    padding-right: 3%;
  }
}
